@keyframes coeur-effect {
    0%{
        margin-bottom: -30px;
        opacity: 0;
    }
    30%{
        margin-bottom: -23px;
        opacity: .3;
    }
    70%{
        margin-bottom: -3px;
        opacity: .6;
    }
    100%{
        margin-bottom: -10px;
        opacity: 1;
    }
    
}

.up {
	animation: fadein 1s;
}

.up--1 {
	animation-delay: 50ms;
	animation-fill-mode: forwards;
	opacity:0;
}
.up--2 {
	animation-delay: 150ms;
	animation-fill-mode: forwards;
	opacity:0;
}
.up--3 {
	animation-delay: 300ms;
	animation-fill-mode: forwards;
	opacity:0;
}
.up--4 {
	animation-delay: 450ms;
	animation-fill-mode: forwards;
	opacity:0;
}
@keyframes fadein {
    from {
		transform: translateY(40px);
        opacity:0;
    }
    to {
		transform: translateY(0);
        opacity:1;
    }
}
.menu-info {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 20px 0 0 10px;
}

.cout {
	justify-content: flex-end;
	padding: 38px 20px 15px 15px;
	font-weight: bold;
}
.menu-info {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	cursor: pointer;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0px 5px 10px 0px rgb(220, 220, 220);
	margin-top: 20px;
	height: 70px;
}
.check {
	display: inline-block;
  	color: #fff;
	transform: rotate(360deg);
	transition: transform 1s;
}
.menu-info:hover .menu-box--button {
	width: 70px;
}
.menu-info:hover .menu-box--button > .check {
	transform: rotate(0deg);
}
/*--media--media--media--breakpoints--breakpoints--*/
@media (max-width: 650px){
	.menu-info:hover .menu-box--button {
		width: 50px;
	}
  
}