/*--animation--coeur--animation--coeur--*/
@keyframes coeur-effect {
    0%{  
        opacity: 0;
    }
    30%{
        opacity: .3;
    }
    70%{
        opacity: .6;
    }
    100%{
        opacity: 1;
    }
    
}
/*--animation--animation--fonctionnement--fonctionnement--*/
.filtre--resto:hover .filtre-icon{
	color: $colour-primary;
}
/*--animation--menu--animation--menu--animation--menu--*/
.up {
	animation: fadein 1s;
}

.up--1 {
	animation-delay: 50ms;
	animation-fill-mode: forwards;
	opacity:0;
}
.up--2 {
	animation-delay: 150ms;
	animation-fill-mode: forwards;
	opacity:0;
}
.up--3 {
	animation-delay: 300ms;
	animation-fill-mode: forwards;
	opacity:0;
}
.up--4 {
	animation-delay: 450ms;
	animation-fill-mode: forwards;
	opacity:0;
}
@keyframes fadein {
    from {
		transform: translateY(40px);
        opacity:0;
    }
    to {
		transform: translateY(0);
        opacity:1;
    }
}
.menu-info {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 20px 0 0 10px;
}

.cout {
	justify-content: flex-end;
	padding: 38px 20px 15px 15px;
	font-weight: bold;
}
.menu-info {
	cursor: pointer;
}
.check {
	transform: rotate(360deg);
	transition: transform 1s;
}
.menu-info:hover .menu-box--button {
	width: 70px;
}
.menu-info:hover .menu-box--button > .check {
	transform: rotate(0deg);
}

/*--media--media--media--breakpoints--breakpoints--*/
@media (max-width: 650px){
	.menu-info:hover .menu-box--button {
		width: 50px;
	}
  
}