@keyframes box-button {
    0%{
        margin-left: 100%;
        opacity: 0;
        width: 100%;
    }
    100%{
        margin-right: 0%;
        opacity: 1;
        width: 100%;
    }
}
@keyframes itemAppear {
    0%{
        transform: scale(0)
  }
  100%{
        transform: scale(1);
  }
}     
@keyframes loader {
        100% {
          opacity: 0;
          z-index: -10;
        }
      } 
      
@keyframes jump {
        0% {
          transform: translateY(0);
        }
        25% {
          transform: translateY(0.5rem);
        }
        75% {
          transform: translateY(-0.5rem);
        }
        100% {
          transform: translateY(0);
        }
        // 0% {
        //   transform: translateY(0);
        // }
      }
/*  ANIMATION - Apparition boutons sélection  */

.up {
	animation: fadein 1s;
}

.up--1 {
	animation-delay: 50ms;
	animation-fill-mode: forwards;
	opacity:0;
}
.up--2 {
	animation-delay: 150ms;
	animation-fill-mode: forwards;
	opacity:0;
}
.up--3 {
	animation-delay: 300ms;
	animation-fill-mode: forwards;
	opacity:0;
}
.up--4 {
	animation-delay: 450ms;
	animation-fill-mode: forwards;
	opacity:0;
}
@keyframes fadein {
    from {
		transform: translateY(40px);
        opacity:0;
    }
    to {
		transform: translateY(0);
        opacity:1;
    }
}
.menu-info {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	flex-grow: 1;
	margin: 20px 0 0 10px;
}

.cout {
	padding: 38px 20px 15px 15px;
	font-weight: bold;
}
.menu-info {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	cursor: pointer;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0px 5px 10px 0px rgb(220, 220, 220);
	margin-top: 20px;
	height: 70px;
}
.check {
	display: inline-block;
  	color: #fff;
	transform: rotate(360deg);
	transition: transform 500ms;
}
.menu-info:hover .menu-box--button {
	width: 70px;
}
.menu-info:hover .menu-box--button > .check {
	transform: rotate(0deg);
}
/*--media--media--media--breakpoints--breakpoints--*/
@media (max-width: 650px){
	.menu-info:hover .menu-box--button {
		width: 50px;
	}
  
}