.restaurant-titre{
    margin-left: 20px;
}
.box-restaurant{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;   
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    background-color: $colour-ground;    
}
.box-restaurant a{
    color: black;
    text-decoration: none;
    background-color: white;
    border-radius: 25px;
    position: relative;
    display: block;
}
.cart-badge {
    max-width: 1300px;
    background-color: $colour-tertiaire;
    color: #1b6150;
    padding: .5rem;
    border-radius: .125rem;
    position: absolute;
    top: 16px;
    right: 12px;
    &--menu{
        max-width: 1300px;
        background-color: $colour-tertiaire;
        color: #1b6150;
        padding: .5rem;
        border-radius: .125rem;
        position: absolute;
        top: 100px;
        right: 60px;
    }
}
.bloc1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.bloc2{
    display: flex;    
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}
.restaurant{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    &__description{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left: 15px;
        margin-right: 15px;
        @include cubeLegend;
    }
}

.coeur{
    display: inline-block;
   
    &--icone{  
        display: inline-block;    
        align-items: center;
        justify-content: left;
        position: absolute;
    }
    &--effet{
        opacity: 0;
        color: mix($colour-secondary, $colour-primary);
        align-items: center;
        justify-content: left;
        position: relative;
        transition-property: 5s;    
        
        &:hover{            
                opacity: 1;
                transition: 2s;
                content: "";      
           
        }
    }
}

.imgRestaurant1{
    background-image: url("../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    @include imgtaille;
}
.imgRestaurant2{
    background-image: url("../../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    @include imgtaille;
}
.imgRestaurant3{
    background-image: url("../../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    @include imgtaille;
}
.imgRestaurant4{
    background-image: url("../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    @include imgtaille;
}
.imgRestaurant12{
    background-image: url("../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    @include imgtaille;
    height: 480px;
    margin-bottom: -50px;    
}
.imgRestaurant22{
    background-image: url("../../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    @include imgtaille;
    height: 480px;
    margin-bottom: -50px;
}
.imgRestaurant32{
    background-image: url("../../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    @include imgtaille;
    height: 480px;
    margin-bottom: -50px;
}
.imgRestaurant42{
    background-image: url("../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    @include imgtaille;
    height: 480px;
    margin-bottom: -50px;
}
.main-menu{
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
    background-color: $colour-ground;
    border-radius: 50px 50px 0 0;
    width: auto;    
}

.menu{
    width: 100%;
    justify-content: space-between;
    display: flex;
    background-color: $colour-ground;
    border-radius: 30px 30px 0 0;
    &--titre{
        margin-left: 20px;
        font-size: 30px;
    }
    &--logo{
        display: flex;
        margin-right: 20px;
        margin-top: -px;
        align-items: center;

    }
    
}
.menu-button{
    max-width: 1300px;
    display: flex;  
    align-items: center;
    justify-content: center;
    background-color: $colour-ground;
    position: relative;              
    margin: 50px;
    &--commander{
        display: flex;
        justify-content: center;
        align-items: center;
        }      
    }
.menu-coeur{
    display: flex;
    align-items: center;
    margin-right: 30px;
}    
.menus{
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    margin: 0 auto;
    align-items: center;
    &--repas{ 
        display: flex; 
        margin: 0 auto;
        max-width: 1300px;
        background-color: $colour-ground;
    
        margin-bottom: 10px;
    }
    &__carte{
        display: flex;
        flex-direction: column;
        background-color: $colour-ground;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}


.repas-titre{
    display: flex;
    position: relative; 
    height: 30px;
    margin-bottom: 10px;
    &::after{
        content: "";
        position: absolute;
        width: 50px;
        height: 3px;
        bottom: 0px;
        border-bottom: 3px solid $colour-tertiaire;
    }
}

.menuBox{
    display: flex;
    background-color: $colour-ground;
    justify-content: space-between;
    align-items: center;    
    margin: 10px auto;
    padding-left: 0px;    
    @include boiteMenu;
    overflow: hidden;
}
.menu-info{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;    
    margin: 10px auto;    
    @include boiteMenu;
    
}
.cout-button{
    display: flex;
}
.menu-box{
    display: flex;
    flex-direction: column;
    &--cout{
        height: 70px;
        width: 70px;
        border-radius: 0 15px 15px 0;
        display: flex;
        justify-content: center;
        align-items: center;       
    }
    &--button{ 
        overflow: hidden;
        position: relative;        
        border-radius: 0 15px 15px 0;
        height: 70px;
        width: 0px;
        background-color: $colour-tertiaire;
        -webkit-transition: width 1s;
        -o-transition: width 1s;
        transition: width 1s;
        padding-top: 25px;
    }
   
}
.check {
    display: inline-block;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    margin-top: 7px;
    font-size: 15px;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: -webkit-transform 500ms;
    transition: -webkit-transform 500ms;
    -o-transition: transform 500ms;
    transition: transform 500ms;
    transition: transform 500ms, -webkit-transform 500ms;
}
.menu-img {
    display: flex;
    align-items: center;
    width: auto;
}