/*--restaurant--restaurant--restaurant--restaurant*/
.restaurant-titre{
    margin-left: 20px;
}
.box-restaurant{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;   
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    background-color: $colour-ground;    
}
.box-restaurant a{
    color: black;
    text-decoration: none;
    background-color: white;
    border-radius: 25px;
    position: relative;
    display: block;
}
.cart-badge {
    max-width: 1300px;
    background-color: $colour-tertiaire;
    color: #1b6150;
    padding: .5rem;
    border-radius: .125rem;
    position: absolute;
    top: 16px;
    right: 12px;
    &--menu{
        max-width: 1300px;
        background-color: $colour-tertiaire;
        color: #1b6150;
        padding: .5rem;
        border-radius: .125rem;
        position: absolute;
        top: 100px;
        right: 350px;
    }
}
.bloc1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.bloc2{
    display: flex;    
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}
.restaurant{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    &__description{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left: 15px;
        margin-right: 15px;
        @include cubeLegend;
    }
}
.coeur{
    display: inline-block;
   
    &--icone{  
        display: inline-block;    
        align-items: center;
        justify-content: left;
        position: absolute;
    }
    &--effet{
        opacity: 0;
        color: mix($colour-secondary, $colour-primary);
        align-items: center;
        justify-content: left;
        position: relative;
        transition: 5s;    
        
        &:hover{            
                opacity: 1;
                transition: 2s;
                content: "";      
           
        }
    }
}

.imgRestaurant1{
    background-image: url("../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    @include imgtaille;
}
.imgRestaurant2{
    background-image: url("../../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    @include imgtaille;
}
.imgRestaurant3{
    background-image: url("../../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    @include imgtaille;
}
.imgRestaurant4{
    background-image: url("../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    @include imgtaille;
}
/*--page--menu--page--menu--page--menu*/
.imgRestaurant12{
    background-image: url("../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    @include imgtaille;
    height: 550px;
    margin-bottom: -80px;    
}
.imgRestaurant22{
    background-image: url("../../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    @include imgtaille;
    height: 550px;
    margin-bottom: -80px;
}
.imgRestaurant32{
    background-image: url("../../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    @include imgtaille;
    height: 550px;
    margin-bottom: -80px;
}
.imgRestaurant42{
    background-image: url("../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    @include imgtaille;
    height: 550px;
    margin-bottom: -80px;
}
.main-menu{
    display: flex;
    max-width: 70%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
    background-color: $colour-ground;
    border-radius: 50px 50px 0 0;
    width: auto;    
}

.menu{
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
    display: flex;
    background-color: $colour-ground;
    border-radius: 30px 30px 0 0;
    &--titre{
        margin-left: 30px;
        font-size: 30px;
    }
    &--logo{
        display: flex;
        margin-right: 20px;
        align-items: center;
    }
    
}
.menu-button{
    max-width: 1300px;
    display: flex;  
    align-items: center;
    justify-content: center;
    background-color: $colour-ground;
    position: relative;              
    margin: 50px;
    &--commander{
        display: flex;
        justify-content: center;
        align-items: center;
        }      
    }
.menu-coeur{
    display: flex;
    align-items: center;
    margin-right: 30px;
}    
.menus{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    &--repas{ 
        display: flex; 
        margin: 0 auto;
        max-width: 1300px;
        background-color: $colour-ground;
    
        margin-bottom: 10px;
    }
    &__carte{
        display: flex;
        flex-direction: column;
        background-color: $colour-ground;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
.repas-titre{
    display: flex;
    position: relative; 
    font-size: 20px;
    height: 30px;
    margin-bottom: 10px;
    &::after{
        content: "";
        position: absolute;
        width: 50px;
        height: 3px;
        bottom: 0px;
        border-bottom: 3px solid $colour-tertiaire;
    }
}
.menu-info{
    display: flex;
    background-color: white;
    justify-content: space-between;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
    padding-left: 10px;    
    margin: 10px auto;
    width: 650px;    
    @include boiteMenu;
    
}

.menuBox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $colour-ground;
}
.title-sup {
    margin-top: 3px;
    white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis;
	font-weight: normal;
}
.title-header{
    margin-bottom: 3px;
}
.menu-box--header{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
}
.cout-button{
    display: flex;
    justify-content: flex-end;
}
.menu-box{
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
    overflow: hidden;
    &--cout{
        justify-content: flex-end;
        height: 70px;
        width: 70px;
        border-radius: 0 15px 15px 0;
        display: flex;
        justify-content: center;
        align-items: center;       
    }
    &--button{ 
        overflow: hidden;
        position: relative;
        justify-content: flex-end;        
        border-radius: 0 15px 15px 0;
        height: 70px;
        width: 0px;
        background-color: $colour-tertiaire;
        transition: width 1s;
        padding-top: 25px;
    }
   
}
.check {
    display: inline-block;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    margin-top: 7px;
    font-size: 15px;
    transform: rotate(360deg);       
    transition: transform 1s;
}
/*--media--media--media--breakpoint--breakpoint--*/
@media (max-width:1600px){
    .cart-badge--menu{
        right: 200px;
    }
    
}
@media (max-width:1500px){
    .cart-badge--menu{
        right: 100px;
    }
    
}
@media (max-width:1300px){
    .menu-info{
        width: 500px;
    }
    .cart-badge--menu{
        right: 30px;
    }
    
}
@media (max-width:1125px){
    .menu-info{
        width: 400px;
    }
    .menus{
        padding-left: 0px;
    }
    .menu-button--btn{
        height: 50px;
        width: 200px;
    }
}

@media (max-width: 900px){
    .menu--titre{
        font-size: 22px;
    }
    .repas-titre{
        font-size: 16px;
        &::after{
            width: 40px;
        }
    }
    .menu-info{
        height: 50px;
        width: 350px;
    }
    .menu-box--cout{
        height: 50px;
        width: 40px;
    }
    .menu-box--button{
        height: 50px;
        
    }
    .check{
        margin-top: 6px;
        font-size: 10px;
    }
    .menu-button--btn{
        width: 150px;
    }  
}
@media (max-width: 700px){
   .menu-coeur{
       margin-right: 0px;
   }
   .menu--titre{
       margin-left: 0px;
   }
}
@media (max-width: 600px){
    .menu-info{
        width: 300px;
    }
    .imgRestaurant12,
    .imgRestaurant22,
    .imgRestaurant32,
    .imgRestaurant42{
        height: 400px;
    }
}
@media (max-width: 500px){
    .menu-info{
        width: 250px;
    }
    .repas-titre{
        font-size: 14px;
        &::after{
            top: 20px;
        }
    }
}
@media (max-width: 450px){

    .restaurant{
        width: 300px;
        height: 300px;
    }
    .imgRestaurant1,
    .imgRestaurant2,
    .imgRestaurant3,
    .imgRestaurant4{
        height: 220px;
    }
    .bloc1{
        flex-direction: column;
        height: auto;
        flex-wrap: nowrap;

    }
    .bloc2{
        flex-direction: column;
        height: auto;
        flex-wrap: nowrap;
    }
    .menu--titre{
        font-size: 18px;
    }
    h3{
        font-size: 12px;
    }
    p{
        font-size: 12px;
    }
    .cout-button p{
        font-size: 12px;
    }
    .repas-titre{
        font-size: 12px;
        margin-bottom: 0px;
        &::after{
            width: 25px;
            top: 20px;
        }
    }
    .menu-info{
        width: 230px;
    }
    .main-menu{
        max-width: 80%;
    }
    .menu-button--btn{
        font-size: 14px;
    }
    .imgRestaurant12,
    .imgRestaurant22,
    .imgRestaurant32,
    .imgRestaurant42{
        margin-bottom: -50px;
    }
}
@media (max-width: 345px){
    .menu--titre{
        font-size: 14px;
    }
    .repas-titre{
        font-size: 10px;
        &::after{
            width: 25px;
            top: 15px;
        }
    }
    
    .menu-info{
        width: 180px;
    }
    .check{
        margin-top: 5px;
    }
    .imgRestaurant12,
    .imgRestaurant22,
    .imgRestaurant32,
    .imgRestaurant42{
        height: 300px;
        margin-bottom: -30px;
    }
}