footer{
    display: flex;
    flex-direction: column;
    background-color: black;
}
.logo-smool{
    margin-left: 50px;
    margin-top: 10px;
    filter: invert(100%);
}
footer img{
    height: 20px;    
}
.footer__cub{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
}
footer a{
    display: flex;
    align-items: center;
    color: white;
}
.footer-box{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: white;
    margin: 10px;
    font-weight: bold;
}
.footer-logo{
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    
}
/*--media--media--media--breakpoints--breakpoints--breakpoints--*/
@media (max-width: 650px){
    .footer__cub{
        margin-left: 50px;
        flex-wrap: nowrap;
        flex-direction: column;
        height: auto;
    }   
}
@media (max-width: 600px){
    .footer-box{
        margin: 0px;
    }
}
@media (max-width: 350px){
    .logo-smool{
        margin-left: 20px;
    }
    .footer__cub{
        margin-left: 20px;
    }
    .menu-button--btn{
        width: 100px;
        height: 45px;
    }
    
}
