footer{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    background-color: black;
}
.footer__cub{
    display: flex;
    flex-wrap: wrap;
    height: auto;
}
.logo-smool{
    margin-left: 10px;
    margin-top: 10px;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}
footer img{
    height: 20px;
    color: transparent;
    
}
footer a{
    display: flex;
    align-items: center;
    color: white;
}
.footer-box{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: white;
    margin: 10px;
}
.footer-logo{
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    
}

