footer{
    display: flex;
    flex-direction: column; 
    background-color: black;
}
footer img{
    height: 20px;
    color: transparent;
    
}
footer a{
    display: flex;
    align-items: center;
    color: white;
}
.footer-box{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: white;
    margin: 10px;
}
.footer-logo{
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    
}
main{
    height: 1900px;
    width: 599px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(194, 187, 187);
}