header {
    background: white;
    width: 100%; 
    .logo{
        font-family: 'Shrikhland', sans-serif;
        height: 50px;
        display: flex;
        justify-content: center;
        margin: 20px auto;
    } 
}

imput{
    border: none;
    outline: none;
}

#icone_marker_map{
    display: flex;
    width: 40px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.recherche{
    max-width: 1300px;
    margin: 0 auto;
    background-color: gainsboro;
    &__explore{
        display: flex;
        flex-direction: column;    
        width: auto;
        height: 400px;
        background-color: $colour-ground;
    }
    &__btn{
        display: flex; 
        justify-content: center;
        align-items: center;
    
    }
}
.bloc-filtre{
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    margin: 0 auto;
}
.filtre{
    display: flex;
    height: auto;
    margin-bottom: 30px;
    flex-wrap: wrap;
    &__titre{
        margin-left: 20px;
    }
    &__resto{
        @include btn;
        background-color: $colour-ground;
        height: 30px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        
        width: 300px;
        &--blocNum{
            background-color: $colour-primary;
            height: 25px;
            width: 25px;
            border-radius: 25PX;     
            position: relative;
            left: -20px;
        }
        &--num{
            
            position: absolute;
            left: 8px;
            top: -12px;
           
        }
        &--text{
            margin: 0 auto;
        }
    }
   
}