header {
    margin: 0 auto;
    background: white;
    display: flex;
    
    width: 100%; 
    .logo{
        font-family: 'Shrikhland', sans-serif;
        justify-content: center;
        height: auto;
        margin: 20px auto;
    } 
}
.retour{
    position: absolute;
    left: 20px;
    margin-top: 15px;
}

#icone_marker_map{
    display: flex;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.recherche__text{
    font-size: 20px;
}
.recherche{
    background-color: #eaeaea;
    justify-content: center;
    &__explore{
        display: flex;
        flex-direction: column;    
        width: 100%;
        background:  $colour-ground;
    }
    &__btn{
        display: flex; 
        justify-content: center;
        align-items: center;
    
    }
}
.bloc-filtre{
    display: flex;
    flex-direction: column;

}
.filtre{
    display: flex;
    height: auto;
    margin-bottom: 30px;
    &--titre{
        margin-left: 30px;
        font-size: 32px
    }
    &--resto{
        @include btnFiltre;
        background-color: $colour-ground;
        height: 80px;
        border-radius: 15px;
        display: flex;
        align-items: center;        
        width: 400px;
        &__blocNum{
            background-color: $colour-primary;
            height: 25px;
            width: 25px;
            border-radius: 25PX;     
            position: relative;
            left: -20px;
        }
        &__num{
            
            position: absolute;
            left: 9px;
            top: -10px;
           
        }
        &__text{
            font-size: 18px;
            margin-left: 30px;
        }
    }
   
}
.filtre-icon{
    color: black;
    text-align: center;
    &__1{
        font-size: 20px;
        width: 10px;
    }
    &__2{
        font-size: 20px;
        width: 10px;
    }
    &__3{
        font-size: 20px;
        width: 10px;
    }
    
}
.backround3{
    background-color: $colour-secondary;  
}   
/*--media--media--media--breakpoints--breakpoints--breakpoints--*/
@media (max-width:1100px){
    .filtre{
        flex-direction: column;
    }
}
@media (max-width:680px){
    header .logo{
        height: 40px;
    }
} 
@media (max-width:470px){
    .filtre--resto{
        width: 300px;
    }
    .filtre--resto__num{
       left: 10px;
       top: -6px;
    }
}
@media (max-width:340px){
    .filtre--resto{
        width: 180px;
    }   
}