nav {
    display: flex
}
.nav-titre{
    display: flex;
 
}
.conteneur{
    height: 20px;
    width: 250px;
    border-radius: 40px;
}
li h3{
    margin-left: 20px;
}
ol { 
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: compteliste;          
}
li{
    padding: 1.5rem;
    margin: 16px 0 16px 12px;
    box-shadow: 4px 4px 8px rgba(0,0,0,.125);
    border-radius: 20px;
    background-color: #f6f6f6;
    display: flex;
    position: relative;
    align-items: center;
}
li:before {    
        counter-increment: compteListe 1;
        content: counter(compteListe) " ";
        background: #9356dc;
        height: 24px;
        width: 24px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        position: absolute;
        left: -12px;    
}    