body {
  font-family: "Roboto", sans-serif;
  color: black;
}

h1, h2, h3 {
  font-family: "Shrikhland", sans-serif;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.font-marg {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 215px;
  height: 70px;
  margin: 40px auto;
}

.font-marg1 {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 240px;
  height: 70px;
  margin: 10px auto;
}

.nav_btn {
  margin: 10px auto;
  background-color: #FF79DA;
  font-size: 18px;
  padding: 5px;
  height: 50px;
}

a {
  color: black;
  text-decoration: none;
}

button {
  font-family: "Roboto", sans-serif;
}

.btnHeader {
  margin: 10px auto;
  background-color: #FF79DA;
  font-size: 18px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  height: 50px;
  width: 250px;
}

.header {
  display: flex;
  align-items: center;
  background: white;
  height: 1000px;
  width: 100%;
}

header img {
  font-family: "Shrikhland", sans-serif;
  height: 50px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

imput {
  border: none;
  outline: none;
}

#icone_marker_map {
  display: flex;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#rechercher {
  width: 150px;
  height: 60px;
  background-color: rgb(231, 217, 217);
  border: none;
  font-weight: bold;
  font-size: 18px;
}

.recherche {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: rgb(231, 217, 217);
}

.reserve-explore {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 400px;
  background-color: rgb(238, 211, 211);
}

nav {
  display: flex;
}

.nav-titre {
  display: flex;
}

.conteneur {
  margin: 10px 10px;
  height: 50px;
  width: 300px;
}

ol {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: compteliste;
}

li:before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356dc;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  left: -1.5rem;
}

.restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 211, 211);
  width: 400px;
  height: 400px;
  padding-left: 10px;
  padding-right: 10px;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  brackround-color: white;
  background-position: bottom;
  width: 380px;
  height: 60px;
  border-radius: 0 0 10% 10%;
}

.coeur {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 50px;
  right: 50px;
}

.imgRestaurant1 {
  background-image: url("../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: cover;
  background-position: auto;
  width: 400px;
  height: 320px;
  border-radius: 10% 10% 0 0;
}

.imgRestaurant2 {
  background-image: url("../../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-size: cover;
  background-position: auto;
  width: 400px;
  height: 320px;
  border-radius: 10% 10% 0 0;
}

.imgRestaurant3 {
  background-image: url("../../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-size: cover;
  background-position: auto;
  width: 400px;
  height: 320px;
  border-radius: 10% 10% 0 0;
}

.imgRestaurant4 {
  background-image: url("../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: cover;
  background-position: auto;
  width: 400px;
  height: 320px;
  border-radius: 10% 10% 0 0;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: black;
}

footer img {
  height: 20px;
  color: transparent;
}

footer a {
  display: flex;
  align-items: center;
  color: white;
}

.footer-box {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: white;
  margin: 10px;
}

.footer-logo {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
}

main {
  height: 1900px;
  width: 599px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(194, 187, 187);
}

/*# sourceMappingURL=style.css.map */
