.header__btn{
    @include btn;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    height: 40px;
    width: 250px;    
}
.menu-button--btn{
    @include btn;
    display: flex; 
    align-items: center;
    justify-content: center;  
    position: absolute;   
    border-radius: 30px;
    height: 60px;
    width: 250px;
}
.menu-box--button {
	overflow: hidden;
	text-align: center;
	background: $colour-tertiaire;
	width: 0;
	align-items: center;
	transition: width 1s;
	padding-top: 25px;
  
}
