
body {
    font-family: 'Roboto', sans-serif;
    color: black;

}

h1,h2,h3{
    font-family: 'Shrikhland', sans-serif;
}
h1{
    font-size: 20px;
}
h2{
    font-size: 18px;
}
h3{
    font-size: 16px;
}
p{ 
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.font-marg{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 215px;
    height: 70px;

    margin: 40px auto;
}
.font-marg1{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 240px;
    height: 70px;
    margin: 10px auto;
}
.nav_btn{
    @include btn;
    height: 50px

}

main a{
    color: black;
    text-decoration: none;
    background-color: white;
    border-radius: 25px;
}
button {
    font-family: 'Roboto', sans-serif;
}