@mixin imgtaille{
    background-size: cover;
    width: auto;
    height: 320px;
    border-radius: 25px 25px 0 0;
}
@mixin cubeLegend{
    width: auto;
    height: 60px;
    border-radius: 0 0 10% 10%;
}
@mixin boiteMenu{
    font-size: 12px;
    height: 70px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px gray;
}
@mixin btn{    
    margin: 10px auto;
    background-color: $colour-secondary;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    box-shadow: 2px 2px 4px gray;
    &:hover{
        background: linear-gradient(356deg,#9356DC 20%,#FF79da 70%);
        filter: brightness(140%);
        box-shadow: 4px 4px 6px gray;
    }
}
@mixin marge {
    display: flex;
    text-align: center;
    height: 60px;
    margin: 30px auto;
}
