@mixin imgtaille{
    background-size: cover;
    width: auto;
    height: 320px;
    border-radius: 25px 25px 0 0;
}
@mixin cubeLegend{
    brackround-color: white;
    width: auto;
    height: 60px;
    border-radius: 0 0 10% 10%;
}
@mixin btn{    
    margin: 10px auto;
    background-color: $colour-secondary;
    font-size: 18px;
    padding: 5px;
}
@mixin marge {
    display: flex;
    text-align: center;
    height: 60px;
    margin: 30px auto;
}